.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
virtualenv/
.virtualenv/
env*
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
keys.py
.keys.py

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover

